.filter-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .filter-dropdown {
    width: 50%; 
    max-width: 500px; 
    padding: 8px;
    font-size: 16px; 
  }
  